<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocalNetworkUsageDescription</key>
	<string>IPScanner needs access to the local network to detect connected devices.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_ipscanner._tcp</string>
		<string>_services._dns-sd._udp</string>
		<string>_http._tcp</string>
		<string>_https._tcp</string>
		<string>_ssh._tcp</string>
		<string>_smb._tcp</string>
		<string>_rfb._tcp</string>
		<string>_airplay._tcp</string>
		<string>_airtunes._tcp</string>
		<string>_ipp._tcp</string>
		<string>_printer._tcp</string>
		<string>_companion-link._tcp</string>
		<string>_spotify-connect._tcp</string>
		<string>_hap._tcp</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.alain.IPScanner.refresh</string>
	</array>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
</dict>
</plist>
